Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.18.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-xml
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
      - id: generate-openapi
        name: Generate OpenAPI (update app/static/openapi.json)
        entry: scripts/precommit_generate_openapi.sh
        language: script
        pass_filenames: false
        # Run this hook only when sources that affect the generated OpenAPI can change it:
        #  - app/**/*.*: WeasyPrint Service application
        #  - scripts/**/*.*: tooling that may influence generation
        #  - pyproject.toml: dependencies/entry-points that can affect startup and schema
        # This avoids running the generator on unrelated changes (e.g., docs, tests) for faster commits.
        files: ^(app/.*|scripts/.*|pyproject\.toml)$
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-lock
      - id: poetry-check
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.0
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.13.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

feat: add proactive Chromium health monitoring and metrics tracking (#241)
  .gitignore
  CLAUDE.md
  Dockerfile
  README.md
  app/chromium_manager.py
  app/notes_processor.py
  app/schemas.py
  app/static/note.png
  app/static/openapi.json
  app/weasyprint_controller.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test-data/notes_link_to_replace.pdf
  tests/test_chromium_manager.py
  tests/test_container.py
  tests/test_notes_processor.py
  tests/test_scale_factor.py
  tests/test_weasyprint_controller.py
  tests/utils_pdf.py
Due: mypy, generate-openapi

chore: restore deleted sticky notes feature
  .gitignore
  Dockerfile
  README.md
  app/notes_processor.py
  app/static/note.png
  app/weasyprint_controller.py
  tests/conftest.py
  tests/test-data/notes_link_to_replace.pdf
  tests/test_notes_processor.py
Due: mypy, generate-openapi

chore: restore deleted sticky notes feature (#243)
  .gitignore
  Dockerfile
  README.md
  app/notes_processor.py
  app/static/note.png
  app/weasyprint_controller.py
  tests/conftest.py
  tests/test-data/notes_link_to_replace.pdf
  tests/test_notes_processor.py
Due: mypy, generate-openapi

chore: replace Poetry with uv for dependency management
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  entrypoint.sh
  pyproject.toml
  renovate.json
  requirements.txt
  scripts/precommit_generate_openapi.sh
  tests/container/container-structure-test.yaml
  tox.ini
  uv.lock
Due: generate-openapi

chore: update dependencies and improve Dockerfile build process
  Dockerfile
  pyproject.toml
  tests/container/container-structure-test.yaml
  uv.lock
Due: generate-openapi

chore: update documentation and CI to use uv for package management
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

chore: add `uv` dependency management to Dockerfile
  Dockerfile
  requirements.txt
Due: none

chore: remove `poetry.lock`
  .pre-commit-config.yaml
  CLAUDE.md
  poetry.lock
Due: none

chore: update `.pre-commit-config.yaml` and refine Dockerfile build process
  .pre-commit-config.yaml
  Dockerfile
Due: none

ci: fix depreciation in claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

chore: refine dependency installation in documentation and CI workflow
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

chore: update CI workflow paths and remove redundant httpx import fallback
  .github/workflows/claude-code-review.yml
  scripts/load_test.py
Due: mypy, generate-openapi

chore: update `.gitignore` for uv migration
  .gitignore
Due: none

chore: update CI workflow paths to include `poetry.lock`
  .github/workflows/claude-code-review.yml
Due: none

ci: migrate poetry to uv (#244)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile
  README.md
  entrypoint.sh
  poetry.lock
  pyproject.toml
  renovate.json
  requirements.txt
  scripts/load_test.py
  scripts/precommit_generate_openapi.sh
  tests/container/container-structure-test.yaml
  tox.ini
  uv.lock
Due: mypy, generate-openapi

feat: add monitoring dashboard with real-time metrics and queue tracking (#246)
  CLAUDE.md
  app/chromium_manager.py
  app/schemas.py
  app/static/README.md
  app/static/dashboard.html
  app/static/openapi.json
  app/weasyprint_controller.py
  tests/test_dashboard.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

feat: update metrics tracking during active conversion cleanup
  app/chromium_manager.py
Due: mypy, generate-openapi

feat: enhance dashboard with CPU and memory metrics, improve layout
  app/static/README.md
  app/static/dashboard.html
  tests/test_dashboard.py
Due: generate-openapi

feat: refine dashboard responsiveness for improved layout on smaller screens
  app/static/dashboard.html
Due: generate-openapi

fix(build): downgrade Python to 3.13.7 for SonarQube compatibility
  .tool-versions
  Dockerfile
  renovate.json
Due: none

chore(ci): downgrade Python version to 3.13 for compatibility
  .github/workflows/ci.yml
Due: none

feat: serve static files from `/static` endpoint
  app/schemas.py
  app/static/README.md
  app/static/chart.umd.min.js
  app/static/dashboard.html
  app/static/openapi.json
  app/weasyprint_controller.py
  tests/test_dashboard.py
Due: mypy, generate-openapi

chore(ci): update CI configuration for Python 3.13.7 compatibility
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

chore: pin Python 3.13.7 image to specific digest for stability
  Dockerfile
Due: none

fix(renovate): also disable auto-merge for Dockerfile Python updates
  renovate.json
Due: none

feat: improve file serving security and optimize queue management
  app/chromium_manager.py
  app/weasyprint_controller.py
Due: mypy, generate-openapi

fix: resolve SonarCloud code quality issues
  app/static/dashboard.html
  app/weasyprint_controller.py
Due: mypy, generate-openapi

ci: update tox configuration to use Python 3.14 instead of 3.13
  tox.ini
Due: none

ci: update tox configuration to use Python 3.14 instead of 3.13
  app/weasyprint_controller.py
Due: mypy, generate-openapi

chore: rollback Dockerfile to Python 3.13.7
  Dockerfile
Due: none

chore: rollback tox to Python 3.13
  tox.ini
Due: none

fix: improve static file path validation to address CodeQL warnings
  app/weasyprint_controller.py
Due: mypy, generate-openapi

test: add comprehensive tests for static files endpoint
  tests/test_static_files.py
Due: none

ci: rollback Python version to 3.13 in GitHub Actions
  .github/workflows/ci.yml
Due: none

ci: downgrade Python to 3.13.7 for SonarQube compatibility (#250)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .pre-commit-config.yaml
  .tool-versions
  CONTRIBUTING.md
  Dockerfile
  renovate.json
Due: none

chore: add comment explaining why we need playwright install chrome
  tox.ini
Due: none

perf(ci): optimize tox.ini by removing redundant uv sync commands (#254)
  CLAUDE.md
  tox.ini
Due: none

docs: remove redundant static README and expand main README with dashboard details
  README.md
  app/static/README.md
Due: generate-openapi

refactor: streamline static file handling and relocate assets
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  app/notes_processor.py
  app/resources/dashboard.html
  app/resources/note.png
  app/weasyprint_controller.py
  docs/openapi.json
  scripts/precommit_generate_openapi.sh
  tests/test_static_files.py
Due: mypy, generate-openapi

fix: rename `total_restarts` to `total_chromium_restarts` in CLAUDE.md
  CLAUDE.md
Due: none
