Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi, uv-lock

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude_types: [markdown]  # Avoid conflicts with markdown formatting
      - id: check-xml
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
  - repo: local
    hooks:
      - id: generate-openapi
        name: Generate OpenAPI (update docs/openapi.json)
        entry: scripts/precommit_generate_openapi.sh
        language: script
        pass_filenames: false
        # Run this hook only when sources that affect the generated OpenAPI can change it:
        #  - app/**/*.*: WeasyPrint Service application
        #  - scripts/**/*.*: tooling that may influence generation
        #  - pyproject.toml: dependencies/entry-points that can affect startup and schema
        # This avoids running the generator on unrelated changes (e.g., docs, tests) for faster commits.
        files: ^(app/.*|scripts/.*|pyproject\.toml)$
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|uv\.lock)$
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.3
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

# Configuration for different stages
default_stages: [pre-commit]
fail_fast: true

feat: Add VSDX diagram support
  tests/test_vsdx_processor.py
Due: none

feat: Add VSDX diagram support
  Dockerfile
Due: none

feat: Add VSDX diagram support (#328)
  Dockerfile
  tests/test_vsdx_processor.py
Due: none

ci: add pull-requests:read to actionlint caller permissions
  .github/workflows/actionlint.yml
Due: none

ci: gate Sonar scan steps on repository visibility
  .github/workflows/ci.yml
Due: none

ci: add actions:read to claude-code-review caller permissions
  .github/workflows/claude-code-review.yml
Due: none

ci: sync actionlint + Sonar guards from docker template (#331)
  .github/workflows/actionlint.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
Due: none

chore: gradient rendering reproduction for WeasyPrint 69.0
  repro/.gitignore
  repro/README.md
  repro/gradient.html
  repro/repro.py
  repro/run.sh
Due: mypy

fix(pdfa): render CSS gradients in PDF/A output on WeasyPrint 69.0
  .pre-commit-config.yaml
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  pyproject.toml
  repro/README.md
  repro/repro.py
  repro/run.sh
  tests/test_weasyprint_pdfa_patch.py
Due: mypy, generate-openapi, uv-lock

fix(pdfa): make the gradient patch fail-safe and assert it is installed
  app/weasyprint_pdfa_patch.py
  tests/test_weasyprint_pdfa_patch.py
Due: mypy, generate-openapi

test(pdfa): cover the gradient patch's fail-safe branches (100%)
  tests/test_weasyprint_pdfa_patch.py
Due: none

fix: render CSS gradients in PDF/A output on WeasyPrint 69.0 (#335)
  .pre-commit-config.yaml
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  pyproject.toml
  repro/.gitignore
  repro/README.md
  repro/gradient.html
  repro/repro.py
  repro/run.sh
  tests/test_weasyprint_pdfa_patch.py
Due: mypy, generate-openapi, uv-lock

chore: fonttools v4.63
  tests/test_container.py
  uv.lock
Due: uv-lock

chore: CLAUDE.md actualization
  CLAUDE.md
Due: none

chore: fonttools v4.63 (#337)
  CLAUDE.md
  tests/test_container.py
  uv.lock
Due: uv-lock

fix: use explicit None check when reading sticky-note fields
  app/notes_processor.py
Due: mypy, generate-openapi

fix: use explicit None check when reading sticky-note fields (#340)
  app/notes_processor.py
Due: mypy, generate-openapi

chore: select ruff rules explicitly
  pyproject.toml
Due: generate-openapi, uv-lock

build: satisfy hadolint DL3066 and DL3025
  Dockerfile
Due: none

test: refresh visual reference for pymupdf 1.28.2
  tests/test-data/expected/html-with-svg-and-png-in-tables.page-2.png
Due: none

fix: unblock renovate CI on ruff 0.16 and hadolint 2.15 (#348)
  Dockerfile
  pyproject.toml
Due: generate-openapi, uv-lock

chore: adopt the shared ruff standard
  app/attachment_manager.py
  app/chromium_manager.py
  app/metrics_server.py
  app/notes_processor.py
  app/prometheus_metrics.py
  app/sanitization.py
  app/schemas.py
  app/svg_processor.py
  app/vsdx_processor.py
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  app/weasyprint_service_application.py
  pyproject.toml
  repro/repro.py
  scripts/load_test.py
  tests/test_attachment_manager.py
  tests/test_chromium_manager.py
  tests/test_container.py
  tests/test_container_memory.py
  tests/test_form_parser.py
  tests/test_html_parser.py
  tests/test_logging.py
  tests/test_logging_messages.py
  tests/test_memory_manager.py
  tests/test_notes_processor.py
  tests/test_sanitization.py
  tests/test_svg_processor.py
  tests/test_weasyprint_controller.py
  tests/utils_pdf.py
Due: mypy, generate-openapi, uv-lock

test: cover the error paths the standard surfaced
  tests/test_prometheus_metrics.py
  tests/test_sanitization.py
  tests/test_svg_processor.py
  tests/test_weasyprint_service_application.py
Due: none

chore: say what select = ["ALL"] does and does not guarantee
  pyproject.toml
Due: generate-openapi, uv-lock

chore: say that the marker takes per-file ignores only
  pyproject.toml
Due: generate-openapi, uv-lock

chore: pin the quote decision and lint the tests at commit time
  .pre-commit-config.yaml
  pyproject.toml
Due: generate-openapi, uv-lock

chore: adopt the shared ruff standard (#349)
  .pre-commit-config.yaml
  app/attachment_manager.py
  app/chromium_manager.py
  app/metrics_server.py
  app/notes_processor.py
  app/prometheus_metrics.py
  app/sanitization.py
  app/schemas.py
  app/svg_processor.py
  app/vsdx_processor.py
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  app/weasyprint_service_application.py
  pyproject.toml
  repro/repro.py
  scripts/load_test.py
  tests/test_attachment_manager.py
  tests/test_chromium_manager.py
  tests/test_container.py
  tests/test_container_memory.py
  tests/test_form_parser.py
  tests/test_html_parser.py
  tests/test_logging.py
  tests/test_logging_messages.py
  tests/test_memory_manager.py
  tests/test_notes_processor.py
  tests/test_prometheus_metrics.py
  tests/test_sanitization.py
  tests/test_svg_processor.py
  tests/test_weasyprint_controller.py
  tests/test_weasyprint_service_application.py
  tests/utils_pdf.py
Due: mypy, generate-openapi, uv-lock

chore: mark where repository-specific ignores go
  pyproject.toml
Due: generate-openapi, uv-lock

chore: mark where repository-specific ignores go (#350)
  pyproject.toml
Due: generate-openapi, uv-lock

chore: keep the reason out of the noqa directive
  app/chromium_manager.py
  app/notes_processor.py
  app/sanitization.py
  app/schemas.py
  app/svg_processor.py
  app/vsdx_processor.py
  app/weasyprint_controller.py
  scripts/load_test.py
  tests/test_container_memory.py
  tests/test_svg_processor.py
Due: mypy, generate-openapi

chore: keep the reason out of the noqa directive (#351)
  app/chromium_manager.py
  app/notes_processor.py
  app/sanitization.py
  app/schemas.py
  app/svg_processor.py
  app/vsdx_processor.py
  app/weasyprint_controller.py
  scripts/load_test.py
  tests/test_container_memory.py
  tests/test_svg_processor.py
Due: mypy, generate-openapi

feat: add optional API key authentication
  CLAUDE.md
  README.md
  app/auth.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  docs/openapi.json
  tests/test_auth.py
Due: mypy, generate-openapi

fix: accept either credential and compare keys as bytes
  app/auth.py
  tests/test_auth.py
Due: mypy, generate-openapi

refactor: make the api key dependency synchronous
  app/auth.py
Due: mypy, generate-openapi

feat: add optional API key authentication (#353)
  CLAUDE.md
  README.md
  app/auth.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  docs/openapi.json
  tests/test_auth.py
Due: mypy, generate-openapi

feat: serve https as an option
  CLAUDE.md
  Dockerfile
  README.md
  app/metrics_server.py
  app/tls.py
  app/weasyprint_service_application.py
  healthcheck.sh
  tests/test_tls.py
Due: mypy, generate-openapi

fix: match the healthcheck to the tls configuration
  healthcheck.sh
  tests/test_healthcheck.py
Due: none

refactor: simplify the tls configuration reader
  app/tls.py
Due: mypy, generate-openapi

fix: prove the tls material loads before a server starts
  app/metrics_server.py
  app/tls.py
  app/weasyprint_service_application.py
  tests/test_tls.py
Due: mypy, generate-openapi

docs: describe the startup check of the tls material
  CLAUDE.md
  README.md
Due: none
