Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi, uv-lock

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --config-file
  - pyproject.toml
  require_serial: true

generate-openapi:
  name: Generate OpenAPI (update docs/openapi.json)
  entry: scripts/precommit_generate_openapi.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

uv-lock:
  name: uv-lock
  entry: uv lock --check
  language: system
  pass_filenames: false

test: update reference PNGs for Unicode symbol rendering validation
  tests/test-data/expected/html-with-unicode-symbols-ref.page-0.png
  tests/test-data/expected/html-with-unicode-symbols-ref.page-1.png
Due: none

test: fix Unicode reference data for WHITE SQUARE WITH CENTRE VERTICAL LINE rendering
  tests/test-data/expected/html-with-unicode-symbols-ref.page-0.png
  tests/test-data/html-with-unicode-symbols.html
Due: none

test: add validation for Unicode symbol handling in HTML to PDF conversion (#261)
  tests/test-data/expected/html-with-unicode-symbols-ref.page-0.png
  tests/test-data/expected/html-with-unicode-symbols-ref.page-1.png
  tests/test-data/html-with-unicode-symbols.html
  tests/test_container.py
Due: none

fix(ci): add package=skip and DYLD_LIBRARY_PATH to py313 testenv
  tox.ini
Due: none

perf(ci): migrate to tox-uv for 19x faster test environment setup
  .github/workflows/ci.yml
  CONTRIBUTING.md
  pyproject.toml
  scripts/precommit_generate_openapi.sh
  tox.ini
  uv.lock
Due: generate-openapi, uv-lock

chore(deps): pin all dependencies to exact versions
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

perf(ci): migrate to tox-uv for 19x faster test environment setup (#264)
  .github/workflows/ci.yml
  CONTRIBUTING.md
  pyproject.toml
  scripts/precommit_generate_openapi.sh
  tox.ini
  uv.lock
Due: generate-openapi, uv-lock

chore(deps): pin all dependencies to exact versions (#266)
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

fix: disable uvicorn sync mode in entrypoint script
  entrypoint.sh
Due: none

chore: review copilot entrypoint.sh
  entrypoint.sh
Due: none

fix: disable uv sync mode in entrypoint script (#268)
  entrypoint.sh
Due: none

feat!: WeasyPrint v67.0 support
  pyproject.toml
  tests/test_container.py
  tests/utils_pdf.py
  uv.lock
Due: generate-openapi, uv-lock

feat!: WeasyPrint v67.0 support
  CLAUDE.md
  README.md
Due: none

feat!: WeasyPrint v67.0 support (#273)
  CLAUDE.md
  README.md
  pyproject.toml
  tests/test_container.py
  tests/utils_pdf.py
  uv.lock
Due: generate-openapi, uv-lock

chore: use uv to install Python in Dockerfile instead of package manager
  Dockerfile
  pyproject.toml
  requirements.txt
  sonar-project.properties
  tests/container/container-structure-test.yaml
  tox.ini
  uv.lock
Due: generate-openapi, uv-lock

refactor(deps): migrate to PEP 735 dependency groups
  CLAUDE.md
  pyproject.toml
  tox.ini
  uv.lock
Due: generate-openapi, uv-lock

feat(docker): add non-root user and security hardening
  Dockerfile
  app/notes_processor.py
  app/prometheus_metrics.py
  app/weasyprint_controller.py
  tests/container/container-structure-test.yaml
  tox.ini
Due: mypy, generate-openapi

docs: update documentation for Docker security enhancements
  CLAUDE.md
  README.md
Due: none

perf(docker): reduce image size by removing unnecessary chmod
  Dockerfile
Due: none

fix(test): update Chromium path in container structure test
  tests/container/container-structure-test.yaml
Due: none

fix(ci): update uv sync to use --all-groups for PEP 735
  .github/workflows/ci.yml
Due: none

fix(docker): configure Playwright browsers for non-root user
  Dockerfile
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

perf(docker): optimize layer order to avoid chown duplication
  Dockerfile
Due: none

fix(docker): remove BuildKit cache mount for test compatibility
  Dockerfile
Due: none

fix(docker): add non-root user and use uv for Python installation (#275)
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  README.md
  app/notes_processor.py
  app/prometheus_metrics.py
  app/weasyprint_controller.py
  pyproject.toml
  requirements.txt
  sonar-project.properties
  tests/container/container-structure-test.yaml
  tox.ini
  uv.lock
Due: mypy, generate-openapi, uv-lock

feat: add dedicated Prometheus metrics server with configurable port
  CLAUDE.md
  Dockerfile
  app/metrics_server.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  docs/openapi.json
  monitoring/docker-compose.yml
  monitoring/prometheus.yml
  scripts/precommit_generate_openapi.sh
  tests/test_metrics_server.py
  tests/test_prometheus_metrics.py
Due: mypy, generate-openapi

docs: update README and documentation for dedicated Prometheus metrics port
  CLAUDE.md
  README.md
Due: none

test: remove redundant log count assertion and update log validation for metrics server changes
  tests/test_container.py
Due: none

fix: ensure proper startup and cleanup for metrics server asyncio tasks
  app/metrics_server.py
Due: mypy, generate-openapi

test: add comprehensive stop() tests for metrics server
  tests/test_metrics_server.py
Due: none

test: remove unused MagicMock import from metrics server tests
  tests/test_metrics_server.py
Due: none

fix: add timeout handling to metrics server startup and related test coverage
  app/metrics_server.py
  tests/test_metrics_server.py
Due: mypy, generate-openapi

test: mock server ready state in metrics server tests
  tests/test_metrics_server.py
Due: none

fix: allow binding to default host by replacing explicit "0.0.0.0" in metrics server configuration
  app/metrics_server.py
Due: mypy, generate-openapi

fix: simplify task cancellation logic in metrics server and update related test
  app/metrics_server.py
  tests/test_metrics_server.py
Due: mypy, generate-openapi

test: refine timeout behavior in metrics server startup test
  tests/test_metrics_server.py
Due: none

feat: add dedicated Prometheus metrics server with configurable port (#277)
  CLAUDE.md
  Dockerfile
  README.md
  app/metrics_server.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  docs/openapi.json
  monitoring/docker-compose.yml
  monitoring/prometheus.yml
  scripts/precommit_generate_openapi.sh
  tests/test_container.py
  tests/test_metrics_server.py
  tests/test_prometheus_metrics.py
Due: mypy, generate-openapi

Path conditions:
  mypy: any of: \.py$, but not: (^tests/)
  generate-openapi: any of: ^(app/.*|scripts/.*|pyproject\.toml)$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
