Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.18.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-xml
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
      - id: generate-openapi
        name: Generate OpenAPI (update app/static/openapi.json)
        entry: scripts/precommit_generate_openapi.sh
        language: script
        pass_filenames: false
        # Run this hook only when sources that affect the generated OpenAPI can change it:
        #  - app/**/*.*: WeasyPrint Service application
        #  - scripts/**/*.*: tooling that may influence generation
        #  - pyproject.toml: dependencies/entry-points that can affect startup and schema
        # This avoids running the generator on unrelated changes (e.g., docs, tests) for faster commits.
        files: ^(app/.*|scripts/.*|pyproject\.toml)$
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-lock
      - id: poetry-check
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.0
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.13.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

fix: handle queue counter decrement more robustly on exceptions
  app/chromium_manager.py
Due: mypy, generate-openapi

chore: copilot review app/resources/dashboard.html
  app/resources/dashboard.html
Due: generate-openapi

chore: copilot review app/chromium_manager.py
  app/chromium_manager.py
Due: mypy, generate-openapi

fix: ensure queue counters do not go negative
  app/chromium_manager.py
Due: mypy, generate-openapi

chore: remove unused `totalConversions` variable in dashboard metrics
  app/resources/dashboard.html
Due: generate-openapi

fix: correct error rate calculation for HTML conversions
  app/chromium_manager.py
  app/resources/dashboard.html
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

refactor: rename and clarify Chromium metric keys
  app/chromium_manager.py
  app/resources/dashboard.html
  app/schemas.py
  docs/openapi.json
  tests/test_chromium_manager.py
  tests/test_dashboard.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

feat: add comprehensive metrics to dashboard
  app/resources/dashboard.html
  tests/test_dashboard.py
Due: generate-openapi

style: update dashboard grid and card styling
  app/resources/dashboard.html
Due: generate-openapi

refactor: rename dashboard metric labels for clarity
  app/resources/dashboard.html
  tests/test_dashboard.py
Due: generate-openapi

refactor: rename dashboard metric labels for clarity
  app/schemas.py
  docs/openapi.json
  scripts/precommit_generate_openapi.sh
Due: mypy, generate-openapi

style: improve dashboard grid responsiveness
  app/resources/dashboard.html
Due: generate-openapi

feat: add configurable light/dark theme to dashboard
  CLAUDE.md
  README.md
  app/resources/dashboard.html
  app/weasyprint_controller.py
  tests/test_dashboard.py
Due: mypy, generate-openapi

refactor: update avg response time metric to display in seconds
  app/resources/dashboard.html
Due: generate-openapi

refactor: use `dataset` for theme attribute in chart functions
  app/resources/dashboard.html
Due: generate-openapi

feat: queue monitoring and dashboard (#251)
  .pre-commit-config.yaml
  CLAUDE.md
  README.md
  app/chromium_manager.py
  app/notes_processor.py
  app/resources/dashboard.html
  app/resources/note.png
  app/schemas.py
  app/static/chart.umd.min.js
  app/weasyprint_controller.py
  docs/openapi.json
  scripts/precommit_generate_openapi.sh
  tests/test_chromium_manager.py
  tests/test_dashboard.py
  tests/test_static_files.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

chore: add resources to Dockerfile and container structure tests
  Dockerfile
  tests/container/container-structure-test.yaml
Due: none

feat: add verbose mode to load testing tool
  CLAUDE.md
  scripts/load_test.py
Due: mypy, generate-openapi

chore: container structure test (#256)
  CLAUDE.md
  Dockerfile
  scripts/load_test.py
  tests/container/container-structure-test.yaml
Due: mypy, generate-openapi

feat: integrate Prometheus metrics endpoint and monitoring
  CLAUDE.md
  app/prometheus_metrics.py
  app/weasyprint_controller.py
  docs/openapi.json
  pyproject.toml
  tests/test_prometheus_metrics.py
  uv.lock
Due: mypy, generate-openapi

refactor: replace Prometheus counter updates with helper functions
  README.md
  app/chromium_manager.py
  app/prometheus_metrics.py
  app/weasyprint_controller.py
  tests/test_prometheus_metrics.py
Due: mypy, generate-openapi

test: ensure `/metrics` endpoint is excluded from HTTP request counters
  tests/test_prometheus_metrics.py
Due: none

refactor: simplify Prometheus metric names and update references
  CLAUDE.md
  README.md
  app/prometheus_metrics.py
  tests/test_prometheus_metrics.py
Due: mypy, generate-openapi

chore: code review from copilot
  CLAUDE.md
Due: none

feat: add Grafana dashboard, Prometheus integration, and monitoring stack setup
  CLAUDE.md
  README.md
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/generate-load.sh
  monitoring/grafana/dashboards/weasyprint-service.json
  monitoring/grafana/provisioning/dashboards/default.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  monitoring/restart-monitoring.sh
  monitoring/start-monitoring.sh
  monitoring/stop-monitoring.sh
Due: none

chore: refine monitoring configurations for improved responsiveness
  monitoring/grafana/dashboards/weasyprint-service.json
  monitoring/prometheus.yml
Due: none

feat: overhaul and expand Grafana dashboard for monitoring
  monitoring/grafana/dashboards/weasyprint-service.json
Due: none

chore: update WeasyPrint Grafana dashboard layout
  monitoring/grafana/dashboards/weasyprint-service.json
Due: none

chore: update unit and suffix in WeasyPrint Grafana dashboard
  monitoring/grafana/dashboards/weasyprint-service.json
Due: none

chore: update Grafana dashboard expressions and add Prometheus gauges
  app/prometheus_metrics.py
  monitoring/grafana/dashboards/weasyprint-service.json
Due: mypy, generate-openapi

refactor: modularize HTML to PDF conversion logic and improve error handling
  app/weasyprint_controller.py
Due: mypy, generate-openapi

chore: update monitoring configurations for optimized performance
  CLAUDE.md
  monitoring/grafana/dashboards/weasyprint-service.json
  monitoring/prometheus.yml
  monitoring/restart-monitoring.sh
Due: none

chore: enhance PDF generation metrics for improved monitoring
  app/weasyprint_controller.py
Due: mypy, generate-openapi

chore: codereview from copilot app/weasyprint_controller.py
  app/weasyprint_controller.py
Due: mypy, generate-openapi

refactor: simplify PDF processing flow and enforce non-optional input types
  app/notes_processor.py
  app/weasyprint_controller.py
Due: mypy, generate-openapi

chore: clarify intent of default `target=None` in PDF generation method
  app/weasyprint_controller.py
Due: mypy, generate-openapi

chore: improve Docker script paths and add dynamic resolution for flexibility
  monitoring/restart-monitoring.sh
  monitoring/start-monitoring.sh
  monitoring/stop-monitoring.sh
Due: none

feat: integrate Prometheus metrics endpoint and monitoring (#258)
  CLAUDE.md
  README.md
  app/chromium_manager.py
  app/notes_processor.py
  app/prometheus_metrics.py
  app/weasyprint_controller.py
  docs/openapi.json
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/generate-load.sh
  monitoring/grafana/dashboards/weasyprint-service.json
  monitoring/grafana/provisioning/dashboards/default.yml
  monitoring/grafana/provisioning/datasources/prometheus.yml
  monitoring/prometheus.yml
  monitoring/restart-monitoring.sh
  monitoring/start-monitoring.sh
  monitoring/stop-monitoring.sh
  pyproject.toml
  tests/test_prometheus_metrics.py
  uv.lock
Due: mypy, generate-openapi

test: add validation for Unicode symbol handling in HTML to PDF conversion
  tests/test-data/expected/html-with-unicode-symbols-ref.page-0.png
  tests/test-data/expected/html-with-unicode-symbols-ref.page-1.png
  tests/test-data/html-with-unicode-symbols.html
  tests/test_container.py
Due: none
