Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi, uv-lock

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  args:
  - --config-file
  - pyproject.toml
  require_serial: true

generate-openapi:
  name: Generate OpenAPI (update docs/openapi.json)
  entry: scripts/precommit_generate_openapi.sh
  language: script
  pass_filenames: false
  stages:
  - pre-commit

uv-lock:
  name: uv-lock
  entry: uv lock --check
  language: system
  pass_filenames: false

feat: serve https as an option (#355)
  CLAUDE.md
  Dockerfile
  README.md
  app/metrics_server.py
  app/tls.py
  app/weasyprint_service_application.py
  healthcheck.sh
  tests/test_healthcheck.py
  tests/test_tls.py
Due: mypy, generate-openapi

fix: vet every external resource before loading it
  CLAUDE.md
  README.md
  app/external_resources.py
  app/weasyprint_controller.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: close the gaps the review found in the resource policy
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: name an ipv6 host correctly and pin the pinning with a test
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: tunnel https through a proxy with tls and try every vetted address
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: bound the whole load of a resource and close what fails
  README.md
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: hold the deadline while the body arrives
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: hold every hop of a load to its deadline
  app/external_resources.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

docs: say what the resource timeout does not cover
  README.md
Due: none

fix: answer the review of the resource gate
  README.md
  app/external_resources.py
  app/weasyprint_service_application.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: vet every external resource before loading it
  CLAUDE.md
  README.md
  app/external_resources.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  tests/test_external_resources.py
Due: mypy, generate-openapi

fix: answer the second review of the resource gate
  app/external_resources.py
  tests/test_external_resources.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: vet every external resource before loading it (#359)
  CLAUDE.md
  README.md
  app/external_resources.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  tests/test_external_resources.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: replace outdated German hyphenation dictionary with dehyph-exptl
  Dockerfile
  dictionaries/README.md
  dictionaries/hyph_de_dehyphn-x-2024-02-28.dic
Due: none

fix: replace outdated German hyphenation dictionary with dehyph-exptl
  Dockerfile
  dictionaries/LICENSE.dehyph-exptl
  dictionaries/README.md
  dictionaries/hyph_de_dehyphn-x-2024-02-28.dic
  tests/test_container.py
  tests/test_hyphenation.py
Due: none

fix: replace outdated German hyphenation dictionary with dehyph-exptl (#361)
  Dockerfile
  dictionaries/LICENSE.dehyph-exptl
  dictionaries/README.md
  dictionaries/hyph_de_dehyphn-x-2024-02-28.dic
  tests/test_container.py
  tests/test_hyphenation.py
Due: none

feat: shut down gracefully on SIGTERM
  CLAUDE.md
  README.md
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  entrypoint.sh
  tests/test_container_shutdown.py
  tests/test_weasyprint_service_application.py
Due: mypy, generate-openapi

fix: restore the uvicorn log messages
  CLAUDE.md
  README.md
  app/metrics_server.py
  app/weasyprint_service_application.py
  tests/test_container.py
  tests/test_container_shutdown.py
  tests/test_logging.py
  tests/test_metrics_server.py
Due: mypy, generate-openapi

feat: shut down gracefully on SIGTERM (#363)
  CLAUDE.md
  README.md
  app/metrics_server.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  entrypoint.sh
  tests/test_container.py
  tests/test_container_shutdown.py
  tests/test_logging.py
  tests/test_metrics_server.py
  tests/test_weasyprint_service_application.py
Due: mypy, generate-openapi

fix: render the PDF off the event loop
  CLAUDE.md
  README.md
  app/weasyprint_controller.py
  tests/test_container_shutdown.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: build the render semaphore under the serving loop
  README.md
  app/weasyprint_controller.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: render in a pool sized to the configured limit
  CLAUDE.md
  README.md
  app/weasyprint_controller.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: render the PDF off the event loop (#367)
  CLAUDE.md
  README.md
  app/weasyprint_controller.py
  tests/test_container_shutdown.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix: stop crashing on a running element in a float
  app/weasyprint_controller.py
  app/weasyprint_running_width_patch.py
  repro/README.md
  repro/repro_running_element.py
  repro/run.sh
  repro/running_element.html
  tests/test_weasyprint_running_width_patch.py
Due: mypy, generate-openapi

fix: harden the running-element width patch
  app/weasyprint_running_width_patch.py
  tests/test_weasyprint_running_width_patch.py
Due: mypy, generate-openapi

chore: drop the lint suppression from the repro
  repro/repro_running_element.py
Due: mypy

fix: stop crashing on a running element in a float (#369)
  app/weasyprint_controller.py
  app/weasyprint_running_width_patch.py
  repro/README.md
  repro/repro_running_element.py
  repro/run.sh
  repro/running_element.html
  tests/test_weasyprint_running_width_patch.py
Due: mypy, generate-openapi

feat!: upgrade to weasyprint 70.0
  CLAUDE.md
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  pyproject.toml
  repro/README.md
  repro/gradient.html
  repro/repro.py
  repro/run.sh
  tests/test_pdf_gradients.py
  tests/test_weasyprint_pdfa_patch.py
  uv.lock
Due: mypy, generate-openapi, uv-lock

test: load service patches in gradient tests
  tests/test_pdf_gradients.py
Due: none

feat!: upgrade to weasyprint 70.0 (#371)
  CLAUDE.md
  app/weasyprint_controller.py
  app/weasyprint_pdfa_patch.py
  pyproject.toml
  repro/README.md
  repro/gradient.html
  repro/repro.py
  repro/run.sh
  tests/test_pdf_gradients.py
  tests/test_weasyprint_pdfa_patch.py
  uv.lock
Due: mypy, generate-openapi, uv-lock

build: bump playwright to 1.63.0
  pyproject.toml
  tests/container/container-structure-test.yaml
  uv.lock
Due: generate-openapi, uv-lock

test: update container test to weasyprint 70.0
  tests/container/container-structure-test.yaml
Due: none

build: bump playwright to 1.63.0 (#372)
  pyproject.toml
  tests/container/container-structure-test.yaml
  uv.lock
Due: generate-openapi, uv-lock

ci: use kjanat actionlint in pre-commit
  .pre-commit-config.yaml
Due: none

ci: disable cache access for issue workflow
  .github/workflows/add-issue-to-project.yml
Due: none

revert: use rhysd actionlint in pre-commit again
  .pre-commit-config.yaml
Due: none

Path conditions:
  mypy: any of: \.py$, but not: (^tests/)
  generate-openapi: any of: ^(app/.*|scripts/.*|pyproject\.toml)$
  uv-lock: any of: ^(pyproject\.toml|uv\.lock)$
