Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi, uv-lock

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
        exclude_types: [markdown]  # Avoid conflicts with markdown formatting
      - id: check-xml
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
  - repo: local
    hooks:
      - id: generate-openapi
        name: Generate OpenAPI (update docs/openapi.json)
        entry: scripts/precommit_generate_openapi.sh
        language: script
        pass_filenames: false
        # Run this hook only when sources that affect the generated OpenAPI can change it:
        #  - app/**/*.*: WeasyPrint Service application
        #  - scripts/**/*.*: tooling that may influence generation
        #  - pyproject.toml: dependencies/entry-points that can affect startup and schema
        # This avoids running the generator on unrelated changes (e.g., docs, tests) for faster commits.
        files: ^(app/.*|scripts/.*|pyproject\.toml)$
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: uv-lock
        name: uv-lock
        entry: uv lock --check
        language: system
        pass_filenames: false
        files: ^(pyproject\.toml|uv\.lock)$
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.3
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.10.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.18.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.9
    hooks:
      - id: actionlint

# Configuration for different stages
default_stages: [pre-commit]
fail_fast: true

fix: incorrect mm to px conversion in SVG processing
  app/svg_processor.py
  tests/test_svg_processor.py
Due: mypy, generate-openapi

chore: test fix
  tests/test-data/expected/html-with-svg-and-png-in-tables.page-0.png
Due: none

fix: incorrect mm to px conversion in SVG processing (#284)
  app/svg_processor.py
  tests/test-data/expected/html-with-svg-and-png-in-tables.page-0.png
  tests/test_svg_processor.py
Due: mypy, generate-openapi

feat: optional support for vsdx diagrams images
  Dockerfile
  README.md
  app/vsdx_processor.py
  app/weasyprint_controller.py
  tests/test_vsdx_processor.py
Due: mypy, generate-openapi

feat!: upgrade to WeasyPrint 68.0
  CLAUDE.md
  app/weasyprint_controller.py
  pyproject.toml
  tests/test_attachment_manager.py
  uv.lock
Due: mypy, generate-openapi, uv-lock

test: update assertion for WeasyPrint 68.0 source context manager
  tests/test_attachment_manager.py
Due: none

feat!: upgrade to WeasyPrint 68.0 (#288)
  CLAUDE.md
  app/weasyprint_controller.py
  pyproject.toml
  tests/test_attachment_manager.py
  uv.lock
Due: mypy, generate-openapi, uv-lock

feat: add API versioning for compatibility checks in `/version` endpoint
  CLAUDE.md
  app/schemas.py
  app/weasyprint_controller.py
  docs/openapi.json
  tests/test_schemas.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

refactor: move API version constant to dedicated module
  app/constants.py
  app/weasyprint_controller.py
Due: mypy, generate-openapi

feat: api version (#290)
  CLAUDE.md
  app/constants.py
  app/schemas.py
  app/weasyprint_controller.py
  docs/openapi.json
  tests/test_schemas.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

fix(deps): remove explicit starlette dependency (#294)
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

chore: suppress false positive Sonar warning for max_part_size parameter
  app/form_parser.py
Due: mypy, generate-openapi

chore: suppress false positive Sonar warning for max_part_size parameter (#296)
  app/form_parser.py
Due: mypy, generate-openapi

feat: add full_fonts parameter to disable font subsetting
  app/weasyprint_controller.py
  docs/openapi.json
Due: mypy, generate-openapi

test: add tests for handling fonts with invalid Unicode range bits
  app/form_parser.py
  tests/test-data/test-minimal-bad.html
  tests/test-data/test-minimal-good.html
  tests/test_container.py
Due: mypy, generate-openapi

docs: add details on `full_fonts` parameter and font subsetting behavior
  CLAUDE.md
  README.md
Due: none

feat: add full_fonts parameter to disable font subsetting (#297)
  CLAUDE.md
  README.md
  app/form_parser.py
  app/weasyprint_controller.py
  docs/openapi.json
  tests/test-data/test-minimal-bad.html
  tests/test-data/test-minimal-good.html
  tests/test_container.py
Due: mypy, generate-openapi

chore(ci): enhance Claude Code Review workflow with additional PR event types and refined review guidelines
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .yamlfix.toml
  tox.ini
Due: none

feat: add memory reclamation support after PDF conversions
  README.md
  app/memory_manager.py
  app/weasyprint_controller.py
  docs/openapi.json
  tests/test_memory_manager.py
Due: mypy, generate-openapi

test: improve and expand memory_manager test coverage
  tests/test_memory_manager.py
Due: none

test: add integration tests for container memory usage and reclamation
  tests/test_container_memory.py
Due: none

test: refactor container memory tests for improved clarity and efficiency
  tests/test_container_memory.py
Due: none

refactor: replace inline boolean environment parsing with `get_bool_env`
  app/chromium_manager.py
  app/constants.py
  app/form_parser.py
  app/memory_manager.py
  app/metrics_server.py
  app/notes_processor.py
  app/sanitization.py
  app/weasyprint_service_application.py
Due: mypy, generate-openapi

test: enhance container memory tests with timing and log improvements
  tests/test_container_memory.py
Due: none

feat: add post conversion memory reclamation option (#306)
  README.md
  app/chromium_manager.py
  app/constants.py
  app/form_parser.py
  app/memory_manager.py
  app/metrics_server.py
  app/notes_processor.py
  app/sanitization.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  docs/openapi.json
  tests/test_container_memory.py
  tests/test_memory_manager.py
Due: mypy, generate-openapi

fix: added pytest-mock dependency
  pyproject.toml
Due: generate-openapi, uv-lock

Create issue: Remove `pypdf` from test dependency group
  issues/1
Due: none

Create a GitHub issue to remove duplicate pypdf dependency
  issues/new
Due: none

ci: migrate workflows to reusable workflows from github-workflows-polarion
  .github/workflows/actionlint.yml
  .github/workflows/add-issue-to-project.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr.yml
  tox.ini
  zizmor.yml
Due: none

refactor: restructure licensing for proper Apache 2.0 detection
  CONTRIBUTING.md
  DCO
  LICENSE
  LICENSES/Apache.txt
  NOTICE
Due: none

chore: align pre-commit hooks and pyproject metadata with docker repo template
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

ci: migrate workflows to reusable workflows from github-workflows-polarion (#318)
  .github/workflows/actionlint.yml
  .github/workflows/add-issue-to-project.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr.yml
  tox.ini
  zizmor.yml
Due: none

refactor: restructure licensing for proper Apache 2.0 detection (#317)
  CONTRIBUTING.md
  DCO
  LICENSE
  LICENSES/Apache.txt
  NOTICE
Due: none

chore: align pre-commit hooks and pyproject metadata with docker repo template (#320)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

fix: clean up dependency groups in pyproject.toml
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

fix: clean up dependency groups in pyproject.toml (#321)
  pyproject.toml
  uv.lock
Due: generate-openapi, uv-lock

chore: remove accidentally committed issues folder
  issues/1
  issues/new
Due: none

chore: fix mypy str-bytes-safe error in vsdx_processor
  app/vsdx_processor.py
  pyproject.toml
  uv.lock
Due: mypy, generate-openapi, uv-lock

chore: improve VsdxProcessor
  app/vsdx_processor.py
  pyproject.toml
  tests/test_vsdx_processor.py
  uv.lock
Due: mypy, generate-openapi, uv-lock

#456 Optional vsdx support (#287)
  Dockerfile
  README.md
  app/vsdx_processor.py
  app/weasyprint_controller.py
  pyproject.toml
  tests/test_vsdx_processor.py
  uv.lock
Due: mypy, generate-openapi, uv-lock
