Repository SchweizerischeBundesbahnen/weasyprint-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, generate-openapi

.pre-commit-config.yaml:

---
default_install_hook_types: [pre-commit, commit-msg]
repos:
  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.18.0
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=5120]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: trailing-whitespace
      - id: check-xml
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: end-of-file-fixer
  - repo: local
    hooks:
      - id: sensitive-data-leak-urls
        name: Sensitive data leak - URLs
        entry: (?<!polarion-opensource@)(?<!www\.)sbb\.ch
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-ue-numbers
        name: Sensitive data leak - UE numbers
        entry: \b([uUeE]{1,2})\d{5,6}\b
        language: pygrep
        types: [text]
      - id: sensitive-data-leak-dev-ticket-numbers
        name: Sensitive data leak - DEV ticket numbers
        entry: \bDEV-\d{1,6}\b
        language: pygrep
        types: [text]
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        language: system
        types: [python]
        exclude: (^tests/)
        args: [--config-file, pyproject.toml]
        require_serial: true  # Serial processing is required for mypy (better performance and error reporting)
      - id: generate-openapi
        name: Generate OpenAPI (update app/static/openapi.json)
        entry: scripts/precommit_generate_openapi.sh
        language: script
        pass_filenames: false
        # Run this hook only when sources that affect the generated OpenAPI can change it:
        #  - app/**/*.*: WeasyPrint Service application
        #  - scripts/**/*.*: tooling that may influence generation
        #  - pyproject.toml: dependencies/entry-points that can affect startup and schema
        # This avoids running the generator on unrelated changes (e.g., docs, tests) for faster commits.
        files: ^(app/.*|scripts/.*|pyproject\.toml)$
        stages: [pre-commit]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/python-poetry/poetry
    rev: 2.2.1
    hooks:
      - id: poetry-lock
      - id: poetry-check
  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks
  - repo: https://github.com/grigoriev/pre-commit-check-git-user
    rev: v0.9.0
    hooks:
      - id: check-git-config-user-email
        args: [--templates, ^\S+\.\S+@sbb\.ch$]
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.9.1
    hooks:
      - id: commitizen
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint
  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: v1.13.0
    hooks:
      - id: zizmor
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint

test: implement container health check wait and update Dockerfile dependencies
  Dockerfile
  tests/test_container.py
Due: none

chore: bump FastAPI version to 0.118.2 in dependencies and lockfile
  poetry.lock
Due: none

feat: enhance logging across all components (#219)
  Dockerfile
  app/attachment_manager.py
  app/form_parser.py
  app/html_parser.py
  app/sanitization.py
  app/svg_processor.py
  app/weasyprint_controller.py
  docker-compose.yml
  poetry.lock
  pyproject.toml
  tests/test_form_parser.py
  tests/test_logging_messages.py
  tests/test_sanitization.py
Due: mypy, generate-openapi

test: expand ChromiumManager test coverage
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

fix: clarify logging and comments in ChromiumManager startup process
  app/chromium_manager.py
Due: mypy, generate-openapi

fix: refine logging messages and improve error handling for Chromium lifecycle
  app/chromium_manager.py
  app/weasyprint_controller.py
  tests/test_container.py
Due: mypy, generate-openapi

fix: reduce page load timeout and refine wait strategy in set_content
  app/chromium_manager.py
Due: mypy, generate-openapi

fix: remove dbus-daemon setup and related dependencies from entrypoint and Dockerfile
  Dockerfile
  entrypoint.sh
Due: none

fix: ensure third-party libraries respect configured logging level
  app/weasyprint_service_application.py
Due: mypy, generate-openapi

fix: convert is_running to synchronous method in ChromiumManager
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

fix: add concurrency control to ChromiumManager with semaphore implementation
  README.md
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

docs: remove outdated CPU priority and subprocess timeout configuration from README
  README.md
Due: none

fix: improve Chromium lifecycle handling and health checks reliability
  Dockerfile
  README.md
  app/weasyprint_controller.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

feat: add automatic Chromium restart after specified conversions
  README.md
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

feat: add automatic retry and recovery for SVG to PNG conversions
  README.md
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

feat: add configuration validation for ChromiumManager
  README.md
  app/chromium_manager.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

refactor: make get_version synchronous in ChromiumManager
  app/chromium_manager.py
  app/weasyprint_controller.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

refactor: improve health check endpoint and Chromium connection handling
  app/chromium_manager.py
  app/static/openapi.json
  app/weasyprint_controller.py
  tests/test_chromium_manager.py
  tests/test_container.py
  tests/test_weasyprint_controller.py
Due: mypy, generate-openapi

feat: add timeout and atomic counter handling for SVG conversions
  app/chromium_manager.py
Due: mypy, generate-openapi

refactor: simplify Docker healthcheck and remove unnecessary dependency
  Dockerfile
Due: none

refactor: make health_check method synchronous in ChromiumManager
  app/chromium_manager.py
  app/weasyprint_controller.py
  tests/test_chromium_manager.py
Due: mypy, generate-openapi

refactor: extract retry logic into `_handle_conversion_retry` method
  app/chromium_manager.py
Due: mypy, generate-openapi

chore: update tox Python version to 3.14 from 3.13
  tox.ini
Due: none

chore: upgrade dependencies to 2.12.0 and to 2.41.1 in
  poetry.lock
  pyproject.toml
Due: generate-openapi

chore: poetry.lock updated
  poetry.lock
Due: none

feat: performance improvements (#230)
  CLAUDE.md
  Dockerfile
  README.md
  app/chromium_manager.py
  app/static/openapi.json
  app/svg_processor.py
  app/weasyprint_controller.py
  app/weasyprint_service_application.py
  entrypoint.sh
  poetry.lock
  pyproject.toml
  tests/scripts/test_script.sh
  tests/test-data/expected/svg-image-ref-scale-2.0.png
  tests/test-data/expected/svg-image-ref-scale-3.125.png
  tests/test-data/expected/svg-image-ref-scale-6.25.png
  tests/test_chromium_manager.py
  tests/test_container.py
  tests/test_scale_factor.py
  tests/test_svg_processor.py
  tests/test_weasyprint_controller.py
  tox.ini
Due: mypy, generate-openapi

refactor: optimize Chromium restart logic to avoid blocking conversions
  app/chromium_manager.py
Due: mypy, generate-openapi

refactor: ensure resource cleanup on cancellation during SVG to PNG conversion
  app/chromium_manager.py
Due: mypy, generate-openapi

refactor: split `_validate_config_value` into specialized methods for int and float validation
  app/chromium_manager.py
Due: mypy, generate-openapi

feat: alpha version
  app/notes_processor.py
  app/weasyprint_controller.py
  poetry.lock
  pyproject.toml
Due: mypy, generate-openapi

feat: username
  app/notes_processor.py
  poetry.lock
Due: mypy, generate-openapi

chore: date & title
  app/notes_processor.py
Due: mypy, generate-openapi

chore: hierarchy
  app/notes_processor.py
Due: mypy, generate-openapi

chore: iso dates
  app/notes_processor.py
Due: mypy, generate-openapi

chore: test file
  app/notes_processor.py
  tests/test-data/date7.pdf
Due: mypy, generate-openapi

docs(claude): enhance CLAUDE.md with code review guidelines and workflow improvements
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: none

docs(claude): enhance CLAUDE.md with code review guidelines and workflow improvements (#233)
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  CLAUDE.md
Due: none

ci(claude): enhance PR review workflow with GitHub commenting and repo context
  .github/workflows/claude-code-review.yml
Due: none

test: add comprehensive test cases for ChromiumManager edge scenarios
  tests/test_chromium_manager.py
Due: none
